<div class="main-section">
    <div class="create-new">
        
    </div>
    <div>
        <ag-grid-angular
        style="height: 420px;"
        class="ag-theme-alpine" 
        id="ContactsGrid"
        [rowData]="rowData"
        [columnDefs]="contactsColumnDefs"
        [pagination]="true"
        [rowSelection]="rowSelection"
        [paginationPageSize]="paginationPageSize"
        (selectionChanged)="showContactDetails($event)"
        (gridReady)="onGridReady($event)">
        </ag-grid-angular>
    </div>
</div>