<div class="container-fluid">
    <form [formGroup]="newContactForm">
        <fieldset>
            <legend>Contact Details</legend>
            <div class="row flex create-main">
                <div class="col-md-4">
                    <div class="form-group">  
                        <label for="name" class="error-asterisk control-label col-md-4">Name</label>
                        <input type="text" name="name" id="name" class="col-md-6" formControlName="name">
                    </div>

                    <div class="form-group">  
                        <label for="jobTitle" class="error-asterisk control-label col-md-4">Job Title</label>
                        <input type="text" name="jobTitle" id="jobTitle" class="col-md-6" formControlName="jobTitle">
                    </div>

                    <div class="form-group">  
                        <label for="company" class="error-asterisk control-label col-md-4">Company</label>
                        <select name="Prefix" id="Prefix" class="col-md-6" formControlName="company">                                    
                            <option *ngFor="let company of companyList" [value]="company.name">{{company.name }}</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">  
                        <label for="address" class="error-asterisk control-label col-md-4">Address</label>
                        <input type="text" name="address" id="address" class="col-md-6" formControlName="address">
                    </div>

                    <div class="form-group">  
                        <label for="phone" class="error-asterisk control-label col-md-4">Phone</label>
                        <input type="text" name="phone" id="phone" class="col-md-6" formControlName="phone">
                    </div>

                    <div class="form-group">  
                        <label for="email" class="error-asterisk control-label col-md-4">Email</label>
                        <input type="email" name="email" id="email" class="col-md-6" formControlName="email">
                        <div *ngIf="f.email.touched && f.email.invalid" class="text-danger">
                            <div *ngIf="f.email.errors.required">Email is required.</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">  
                        <label for="lasteDateContacted" class="error-asterisk control-label col-md-4">Last Date Contacted</label>
                        <input type="date" name="lasteDateContacted" id="lasteDateContacted" class="col-md-6" formControlName="lastDateContacted">
                    </div>

                    <div class="form-group">  
                        <label for="comments" class="control-label col-md-4">Comments</label>
                        <textarea name="comments" rows="5" cols="45" formControlName="comments"></textarea>
                    </div>
                </div>

                <div class="action-buttons">                            
                    <a (click)="goBack();" class="btn btn-secondary cancel">Cancel</a>
                    <button type="submit" (click)="modalOpen(confirmModal)" [disabled]="newContactForm.invalid" class="btn btn-primary save">Save</button>                    
                </div>
            </div>                                
        </fieldset>                               
    </form>
        
    <!-- Modal popup for Issue Invoice-->
    <ng-template #confirmModal let-modal>
        <div class="modal-body">
            <p class="confirm-message">Are you sure want to create a new contact?</p>
            <div class="confirm-actions">
                <button ngbAutofocus (click)="createContact();"
                    class="btn btn-primary yes-button">Yes</button>&nbsp;
                <button (click)="modal.close('Not Confirm')"
                    class="btn btn-secondary no-button">No</button>
            </div>
        </div>
    </ng-template>
</div>